@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,100&family=Titillium+Web:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 0 8%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
}

p {
    color: #fff;
    font-size: 12px;
    line-height: 16px;
}

.btn {
    padding: 12px 28px;
    font-size: 12px;
    font-weight: 700;
    margin-top: 30px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    border: 1px solid red;
    transition: ease 0.5s;
    text-decoration: none;

}

.btn:hover {
    background-color: #000;
    color: #fff;
    border-color: #fff;
}

.navbar {
    height: 12%;
    display: flex; /* sadece bu kod menü kısmında sap ve sol menü yapmak için kull */
    justify-content: space-between;
    align-items: center;

}

nav ul {
    list-style-type: none;
    display: flex;
    column-gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: ease 0.5s;
}
nav ul li a:hover {
    color: #0000;
}

.row {
    display: flex;
    column-gap: 10px;
    height: 88%;
    align-items: center;
}

.col {
    flex-basis: 50%;
}

h1 {
    color: #fff;
    font-size: 100px;
    
}


.desc {
    font-size: 16px;
}

.cards {
    max-width: 500px;
    margin: auto;
}
.card {
    height: 230px;
    width: 200px;
    display: inline-block;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    padding: 15px 25px;
    cursor: pointer;
    border: 1px solid red;
    position: relative;
    transition: ease 0.5s;
    margin: 12px 15px;
}

.card:hover {
    transform: translateY(-10px);
    border-color: #fff;
}
.card .card-head {
    background: rgba(0,0,0,0.5);
    color: #fff;
    border-radius: 6px;
    padding: 6px;
}

.card .card-bottom {
    position: absolute;
    bottom: 26px;
}

.card.card1{
    background-image: url(../images/pic-1.jpg);
}
.card.card2{
    background-image: url(../images/pic-2.jpg);
}
.card.card3{
    background-image: url(../images/pic-3.jpg);
}
.card.card4{
    background-image: url(../images/pic-4.jpg);
}

